<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/_layout}"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Account management</title>

        <style>
            .title-card {
                padding-top: 11%;
                padding-bottom: 11%;
                margin-left: 4%;
                font-weight: bold
            }

            .title-page {
                text-align: center;
                margin-top: 2%;
                margin-bottom: 3%;
                font-weight: bold
            }
        </style>

    </head>

    <body>

        <div layout:fragment="content">

            <h3 class="title-page">Add new account</h3>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col background-table">

                    <form th:action="@{/account/createNonAdmin}" method="POST">
                        <b>Basic info</b>
                        <br>


                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Role
                            </div>
                        </div>


                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <select name="txtRole" id="txtRole">
                                    <option value="Student">Student</option>
                                    <option value="Teacher">Teacher</option>
                                </select>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>


                        <div class="row" style="margin-top: 5%;">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-2" style="text-align: center ;">
                                <input type="submit" class="btn btn-success form-control button-defualt" value="Save">
                            </div>
                            <div class="col-sm-5"></div>
                        </div>

                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </body>
</html>