<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản lý tài khoản</title>

    <style>
        .title-card {
            padding-top: 11%;
            padding-bottom: 11%;
            margin-left: 4%;
            font-weight: bold
        }

        .title-page {
            text-align: center;
            margin-top: 2%;
            margin-bottom: 3%;
            font-weight: bold
        }
    </style>

</head>

<body>

<div layout:fragment="content">

    <h3 class="title-page">Add new account</h3>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col background-table">

            <form action="/account/create" method="POST" enctype="multipart/form-data">
                <b>Basic info</b>
                <br>


                <div class="row" style="margin-top: 3%;">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        Email
                    </div>
                </div>


                <div class="row" style="margin-top: 1%;">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        <input type="email" class="form-control input" placeholder="Email Address" id="txtAccountMail"
                               name="txtAccountMail">
                        <span hidden class="error-text" id="txtAccountMail-Error">Email Address</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row" style="margin-top: 3%;">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        Fullname
                    </div>
                </div>


                <div class="row" style="margin-top: 1%;">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        <input type="text" class="form-control input" placeholder="Full name" id="txtFullName"
                               name="txtFullName">
                        <span hidden class="error-text" id="txtFullName-Error">Fullname</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row" style="margin-top: 3%;">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        Phone
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        <input type="text" class="form-control input" placeholder="Phone" id="txtPhone"
                               name="txtPhone">
                        <span hidden class="error-text" id="txtPhone-Error">Phone</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row" style="margin-top: 3%;">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        Gender
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        <input type="radio" id="Male" value="Male" name="radioGender">
                        <label for="Male">Male</label><br>
                        <input type="radio" id="Female" value="Female" name="radioGender">
                        <label for="Female">Female</label><br>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row" style="margin-top: 3%;">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        Date of birth
                    </div>
                </div>


                <div class="row" style="margin-top: 1%;">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        <input type="date" class="form-control input" id="txtBirthDay"
                               name="txtBirthDay">
                        <span hidden class="error-text" id="txtBirthDay-Error">Date of birth</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row" style="margin-top: 3%;">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        Profile image
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        <input type="file" name="image" accept="image/png, image/jpeg"/>
                    </div>
                    <div class="col-sm-1"></div>
                </div>


                <div class="row" style="margin-top: 3%;">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        Role
                    </div>
                </div>


                <div class="row" style="margin-top: 1%;">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        <select name="txtRole" id="txtRole">
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>


                <div class="row" style="margin-top: 5%;">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-2" style="text-align: center ;">
                        <input type="submit" class="btn btn-success form-control button-defualt"
                               value="Save">
                    </div>
                    <div class="col-sm-5"></div>
                </div>


            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
</body>
</html>