<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

    <head>
        <title>Account Management</title>

        <style>

            .title-card {
                padding-top: 11%;
                padding-bottom: 11%;
                margin-left: 4%;
                font-weight: bold
            }

            .title-page {
                text-align: center;
                margin-top: 2%;
                margin-bottom: 3%;
                font-weight: bold
            }


        </style>

    </head>

    <body>

        <div layout:fragment="content">

            <h3 class="title-page">Account Management</h3>


            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col background-table">

                    <div class="row" style="margin-bottom:2% ;">

                        <div class="col-sm-3">
                            <form th:action="@{/account/index}" id="myForm">
                                    <input class="form-control input" placeholder="Search email or name..." type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" />
                            </div>

                            <div class="col-sm-1">
                                <input class="btn btn-success button-defualt" type="submit" value="Search" />
                            </div>

                            <div class="col-sm-1">
                                <input class="btn btn-success button-defualt" type="button" value="Clear" onclick="clearSearch()" />
                            </div>
                        </form>



                        <div class="col-sm-2"></div>        
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6" style="margin-bottom:2% ;">
                                    <a th:href="@{/account/create}">
                                        <input type="button" class="btn btn-success form-control button-defualt" value="Add an Admin">
                                    </a>
                                </div>
                                <div class="col-sm-6" style="margin-bottom:2% ;">
                                    <a th:href="@{/account/createNonAdmin}">
                                        <input type="button" class="btn btn-success form-control button-defualt"  value="Add mobile account">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Email</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Role</th>
                                <th scope="col">Actions</th>

                            </tr>
                        </thead>
                        <tbody th:if="${check == false}">
                            <tr>
                                <td colspan="5" style="text-align: center"> No data available </td>
                            </tr>

                        </tbody>

                        <tbody th:if="${check == true}">
                            <tr th:each="item,stt:${list}">
                                <th scope="row" th:text="${stt.Count}"></th>
                                <td th:text="${item.getMail()}" th:id="${item.getMail()}" ></td>
                                <td th:text="${item.getName()}" ></td>
                                <td th:text="${item.getPhone()}" ></td>
                                <td th:text="${item.getRole()}" ></td>
                                <td align="center">

                                    <div class="dropdown">
                                        <button class="button-envent
                                                dropdown-toggle" style="margin-right:
                                                10px;" type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-edit"
                                               style="color:
                                               #0d6b55"></i>
                                        </button>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" th:href="@{'/account/update?id='+${item.getId()}}">Edit</a>

                                            <a class="dropdown-item" th:href="@{'/account/showQrCode?id='+${item.getId()}}">Show QR</a>

                                            <a class="dropdown-item" th:href="@{'/account/resetpass?id='+${item.getId()}}">Reset Password</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                        </tbody>
                    </table>
                </div>


            </div>
            <div class="col-sm-1"></div>

        </div>

    </body>


</html>


<script type="text/javascript">
                        function clearSearch() {
                            document.getElementById('keyword').value = '';
                        }
</script>