<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/_layout}"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Account management</title>

        <style>
            .title-card {
                padding-top: 11%;
                padding-bottom: 11%;
                margin-left: 4%;
                font-weight: bold
            }

            .title-page {
                text-align: center;
                margin-top: 2%;
                margin-bottom: 3%;
                font-weight: bold
            }
        </style>

    </head>

    <body>

        <div layout:fragment="content">

            <h3 class="title-page">Edit info</h3>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col background-table">

                    <form action="/account/update" method="POST">
                        <br>
                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Email
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <input type="text" class="form-control input" th:value="${Account.getMail()}"
                                       placeholder="Địa chỉ email" id="txtAccountMail" name="txtAccountMail" readonly>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Name
                            </div>
                        </div>


                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <input type="text" class="form-control input" th:value="${Account.getName()}"
                                       placeholder="Full name" id="txtFullName" name="txtFullName">
                                <span hidden class="error-text" id="txtFullName-Error">Input Name</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Phone
                            </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <input type="text" class="form-control input" th:value="${Account.getPhone()}"
                                       placeholder="Phone" id="txtPhone" name="txtPhone">
                                <span hidden class="error-text" id="txtPhone-Error">Input phone</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Gender
                            </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <div th:switch="${Account.getGender()}">
                                    <div th:case="Male">
                                        <input type="radio" id="Male" value="true" name="radioGender" checked>
                                        <label for="Male">Male</label><br>
                                        <input type="radio" id="Female" value="false" name="radioGender">
                                        <label for="Female">Female</label><br>
                                    </div>
                                    <div th:case="Female">
                                        <input type="radio" id="Male" value="true" name="radioGender">
                                        <label for="Male">Male</label><br>
                                        <input type="radio" id="Female" value="false" name="radioGender"checked>
                                        <label for="Female">Female</label><br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Birth date
                            </div>
                        </div>


                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <input type="date" class="form-control input" id="txtBirthDay"
                                       th:value="${Account.getDob()}" name="txtBirthDay">
                                <span hidden class="error-text" id="txtBirthDay-Error">Choose date of birth</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Role
                            </div>
                        </div>


                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <div th:switch="${Account.getRole()}">
                                    <div th:case="'Admin'">
                                        <select name="txtRole" id="txtRole">
                                            <option value="Admin" selected>Admin</option>
                                            <option value="Student">Student</option>
                                            <option value="Teacher">Teacher</option>
                                        </select>
                                    </div>
                                    <div th:case="'Student'">
                                        <select name="txtRole" id="txtRole">
                                            <option value="Admin">Admin</option>
                                            <option value="Student" selected>Student</option>
                                            <option value="Teacher">Teacher</option>
                                        </select>
                                    </div>
                                    <div th:case="'Teacher'">
                                        <select name="txtRole" id="txtRole">
                                            <option value="Admin">Admin</option>
                                            <option value="Student">Student</option>
                                            <option value="Teacher" selected>Teacher</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 5%;">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-2" style="text-align: center ;">
                                <input type="submit" class="btn btn-success form-control button-defualt"
                                       value="Lưu dữ liệu">
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </body>

</html>