<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/_layout}"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Course Management</title>

        <style>
            .title-card {
                padding-top: 11%;
                padding-bottom: 11%;
                margin-left: 4%;
                font-weight: bold
            }

            .title-page {
                text-align: center;
                margin-top: 2%;
                margin-bottom: 3%;
                font-weight: bold
            }
        </style>

    </head>

    <body>

        <div layout:fragment="content">

            <h3 class="title-page">Add new course</h3>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col background-table">

                    <form th:action="@{/course/create}" method="POST" enctype="multipart/form-data">
                        <b>Basic info</b>
                        <br>


                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Course Name
                            </div>
                        </div>


                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <input type="text" class="form-control input" placeholder="Course Name" id="txtAccountMail"
                                       name="txtCourseName">
                                <span hidden class="error-text" id="txtAccountMail-Error">Course Name</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Description
                            </div>
                        </div>


                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <input type="text" class="form-control input" placeholder="Description" id="txtDescription"
                                       name="txtDescription">
                                <span hidden class="error-text" id="txtFullName-Error">Description</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Duration
                            </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <input type="text" class="form-control input" placeholder="Duration" id="txtDuration"
                                       name="txtDuration">
                                <span hidden class="error-text" id="txtPhone-Error">Phone</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 5%;">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-2" style="text-align: center ;">
                                <input type="submit" class="btn btn-success form-control button-defualt"
                                       value="Save">
                            </div>
                            <div class="col-sm-5"></div>
                        </div>


                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </body>
</html>