<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/_layout}"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Course Management</title>

        <style>
            .title-card {
                padding-top: 11%;
                padding-bottom: 11%;
                margin-left: 4%;
                font-weight: bold
            }

            .title-page {
                text-align: center;
                margin-top: 2%;
                margin-bottom: 3%;
                font-weight: bold
            }
        </style>

    </head>

    <body>

        <div layout:fragment="content">

            <h3 class="title-page" th:text="'Set teacher for '+${courseName} "> </h3>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col background-table">

                    <form th:action="@{/course/setTeacher}" method="POST">
                        <br>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col" >
                            <input type="text" class="form-control input" th:value="${Course.getId()}" th:name="courseID" hidden>
                            </div>
                        </div>

                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr th:each="item,stt:${list}">
                                    <th scope="row" th:text="${stt.Count}"></th>
                                    <td th:text="${item.getId()}"  th:id="${item.getId()}"></td>
                                    <td th:text="${item.getName()}"></td>
                                    <td>
                                        <input type="radio" id="teacherName" th:name="teacher" th:value ="${item.getId()}" name="radioTeacher">
                                    </td>
                                </tr>
                                
                                
                            </tbody>
                        </table>



                        <div class="row" style="margin-top: 5%;">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-2" style="text-align: center ;">
                                <input type="submit" class="btn btn-success form-control button-defualt"
                                       value="Save">
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </body>

</html>