<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fpt.aptech.hss">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="KSS"
        android:networkSecurityConfig="@xml/netsecurity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hss"
        tools:targetApi="31">
        <activity
            android:name=".ParentNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherNotificataionActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.TestDetailsParentActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.StudetntAccountActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherAccountActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/goc_bo_mautim" />

        <activity
            android:name=".Screen.AddMarkActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.ExamDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.AddExamActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.ExamListActivity"
            android:exported="false" />
        <activity
            android:name=".EditResourceActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.ResourceTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.MainTecherScreenActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.SubjectDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.SubjectListTecherActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.TestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.StudentTestActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.StudentClassActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.ParentAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.MainParentActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.QRParentActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.RegisterParentActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.SuccessActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/string.default_notification_channel_id" />

        <activity
            android:name=".Screen.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.ScheduleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.MyclasroomDetail"
            android:exported="false" />
        <activity
            android:name=".Screen.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.ClassroomListActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.QRActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.FlashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screen.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Screen.GetStartedActivity"
            android:exported="false" />

        <service
            android:name=".Controller.MessageFirebaseService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>