<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

    <head>
        <title>Chỉnh sửa chấm công</title>

        <style>

            .title-card {
                padding-top: 11%;
                padding-bottom: 11%;
                margin-left: 4%;
                font-weight: bold
            }

            .title-page {
                text-align: center;
                margin-top: 2%;
                margin-bottom: 3%;
                font-weight: bold
            }


        </style>

    </head>

    <body>

        <div layout:fragment="content">

            <h3 class="title-page">Create new classroom</h3>

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col background-table">

                    <form th:action="@{/classroom/create}" method="post" id="_form">

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Name
                            </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <input type="text" class="form-control input" name="name">
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">Duration</div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <input type="range" name="duration" value="24" min="1" max="48" oninput="this.nextElementSibling.value = this.value">
                                <output id="duration">24</output> Months
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <!--                        <div class="row" style="margin-top: 3%;">
                                                    <div class="col-sm-1"></div>
                                                    <div class="col-sm-3">
                                                        <input type="submit" class="btn btn-success form-control button-defualt" value="New semester">
                                                    </div>
                                                </div>-->

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-success form-control button-defualt" id="" value="New semester" onclick="addSemester();"> 
                            </div>
                        </div>

                        <div id="content">
                            <div class="row" style="margin-top: 3%;">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    Semester name
                                </div>
                            </div>

                            <div class="row" style="margin-top: 1%;">
                                <div class="col-sm-1"></div>
                                <div class="col">
                                    <input type="text" class="form-control input" name="semesterName">
                                </div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="row" style="margin-top: 3%;">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    Begin date
                                </div>
                                <div class="col-sm-5">
                                    End date
                                </div>
                            </div>


                            <div class="row" style="margin-top: 1%;">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control input" id="beginDate" oninput="validateBeginDate();"
                                           name="beginDate">
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control input" id="endDate" oninput="validateEndDate();"
                                           name="endDate">
                                </div>
                                <div class="col-sm-1"></div>
                            </div>  

                            <div class="row" style="margin-top: 3%;">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    Select course
                                </div>

                            </div>

                            <div class="row" style="margin-top: 1%;">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <tr th:each="item:${courses}">
                                        <input type="checkbox" th:value="${item.getId()}"> <td th:text="${item.getName()}" style="margin-right: 2%;"></td>
                                    </tr>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 4%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-3" style="text-align: center ;">

                                        <input type="submit" id="btnSubmit" class="btn btn-success form-control button-defualt" name="action"
                                               value="Save">
                                    </div>
                                    <div class="col-sm-3" style="text-align: center ;">
                                        <input type="submit" class="btn btn-success form-control button-defualt" name="action"
                                               value="Back">
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>

                            </div>
                            <div class="col-sm-1"></div>
                        </div>



                    </form>

                </div>

                <div class="col-sm-3"></div>

            </div>


        </div>


    </body>

</html>

<script th:src="@{/script/cleave.js}"></script>
<script>
    var beginDate = document.getElementById('beginDate');
    var endDate = document.getElementById('endDate');

    var beginDateFormat = new Cleave('#beginDate', {
        date: true,
        delimiter: '-',
        datePattern: ['d', 'm', 'Y']
    });

    var endDateFormat = new Cleave('#endDate', {
        date: true,
        delimiter: '-',
        datePattern: ['d', 'm', 'Y']
    });

    function validateBeginDate() {
        var val = document.getElementById('beginDate').value;
        if (val.length < 10) {
            document.getElementById('beginDate').style.borderColor = '#cc0000';
            btnSubmit.disabled = true;
            btnSubmit.style.cursor = "pointer";
            btnSubmit.style.background = '#cc0000';
        } else {
            document.getElementById('beginDate').style.borderColor = 'green';
            btnSubmit.disabled = false;
            btnSubmit.style.background = '#6667AB';
        }
    }

    function validateEndDate() {
        var val = document.getElementById('endDate').value;
        if (val.length < 10) {
            document.getElementById('endDate').style.borderColor = '#cc0000';
            btnSubmit.disabled = true;
            btnSubmit.style.cursor = "pointer";
            btnSubmit.style.background = '#cc0000';
        } else {
            document.getElementById('endDate').style.borderColor = 'green';
            btnSubmit.disabled = false;
            btnSubmit.style.background = '#6667AB';
        }
    }
</script>

<script>
    data = [];
    count = 0;
    text = "";
    var _form = document.getElementById('_form');
    _form.addEventListener('submit', addSemester());


    function addSemester() {
        event.preventDefault();

        text +=
                `  <div class="row" style="margin-top: 3%;">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    Semester name
                                </div>
                            </div>

                            <div class="row" style="margin-top: 1%;">
                                <div class="col-sm-1"></div>
                                <div class="col">
                                    <input type="text" class="form-control input" name="semesterName">
                                </div>
                                <div class="col-sm-1"></div>
                            </div>

                            <div class="row" style="margin-top: 3%;">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    Begin date
                                </div>
                                <div class="col-sm-5">
                                    End date
                                </div>
                            </div>


                            <div class="row" style="margin-top: 1%;">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control input" id="beginDate" oninput="validateBeginDate();"
                                           name="beginDate">
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control input" id="endDate" oninput="validateEndDate();"
                                           name="endDate">
                                </div>
                                <div class="col-sm-1"></div>
                            </div>  

                            <div class="row" style="margin-top: 3%;">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    Select course
                                </div>

                            </div>
        
                            <div class="row" style="margin-top: 1%;">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <tr th:each="` + ${courses} + `">
                                    
                                    </tr>
                                </div>
                            </div> `;

        document.getElementById('content').innerHTML = text;
        count += 1;
    }

</script>