  #login-card {
            margin-top: 5%;
            background-color: #209177;
            border-radius: 10px;
        }
        
        #login-title-name {
            font-size: 15pt;
            text-align: center;
            color: white;
        }
        
        #login-text-description {
            font-size: 20pt;
            color: white;
        }
        
        .input {
            height: 3rem;
            border-radius: 10px;
            border-color: #6667AB;
            color: white;
        }
        
        #button-login {
            background-color: #34B79F;
            border-color: #6667AB;
            border-radius: 10px;
            font-weight: bolder;
            letter-spacing: 1.7px
        }