<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

    <head>
        <title>Semester Management</title>

        <style>

            .title-card {
                padding-top: 11%;
                padding-bottom: 11%;
                margin-left: 4%;
                font-weight: bold
            }

            .title-page {
                text-align: center;
                margin-top: 2%;
                margin-bottom: 3%;
                font-weight: bold
            }


        </style>

    </head>

    <body>

        <div layout:fragment="content">

            <h3 class="title-page">Semester Management</h3>


            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col background-table">


                    <div class="row" style="margin-bottom:2% ;">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-5" style="margin-bottom:2% ;">
                                    <a href="/semester/create">
                                        <input type="button" class="btn btn-success form-control button-defualt" value="Add a semester">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <table class="table" style="text-align: center;">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Start date</th>
                                <th scope="col">End date</th>
                                <!--<th scope="col">Link</th>-->
                                <th scope="col">Actions</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="item:${list}">
                                <td th:text="${item.getId()}"></td>
                                 <td th:text="${item.getName()}"></td>
                                <td th:text="${#dates.format(item.getStartDate(), 'dd-MM-yyyy')}"></td> 
                                <td th:text="${#dates.format(item.getEndDate(), 'dd-MM-yyyy')}"></td>
                                <td>
                                    <div class="dropdown">
                                        <button class="button-envent
                                                dropdown-toggle" style="margin-right:
                                                10px;" type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-edit"
                                               style="color:
                                               #0d6b55"></i>
                                        </button>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" th:href="@{'/classroom/edit/' + ${item.getId()}}">Edit</a>
                                        </div>

                                    </div>

                                </td>                            

                            </tr>

                        </tbody>

                    </table>

                </div>
                <div class="col-sm-1"></div>

            </div>

        </div>


    </body>

</html>